.appContainer {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh; /* Gère la barre d'adresse mobile */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mainContent {
  flex-grow: 1; /* Force le main à occuper tout l'espace disponible */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}